html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Microsolft YaHei';
  color: #333;
  background-color: #fff
  
}

h2, p, h3, ul {
  margin: 0
}

ul {
  list-style: none
}

/* set for baidu map api */
html,
body,
#root,
.App {
  height: 100%;
}
* {
  box-sizing: border-box;  
  touch-action: pan-y;
}


