html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Microsolft YaHei';
  color: #333;
  background-color: #fff
  
}

h2, p, h3, ul, h1, dd {
  margin: 0
}

ul {
  list-style: none
}

/* set for baidu map api */
html,
body,
#root,
.App {
  height: 100%;
}
* {
  box-sizing: border-box;  
  touch-action: none;
}

/* no scroll when filter dialog open */
.body-fixed{
  overflow: hidden
}

.router-loading{
  text-align: center;
  padding: 100px;
}

